*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,button{
    display: block;
    margin: 25px auto;
}
form{
    width: 25vw;
    background-color: aqua;
position: absolute;
top: 50px;
right: 0;
}
#add{
position: absolute;
top: 0;
right: 0;
}
.container{
    width: 75vw;
    padding: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.item{
    width: 25%;
    border-radius: 15px;
}